.container { margin-top:20px; }
.row{ width: 100%; }
.glyphicon { margin-right:15px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 10px }
.panel-body .table { margin-bottom: 0px; }