<!-- <p class="text-info">Google Map is works !</p> -->
<!-- http://plnkr.co/edit/YX7W20?p=preview -->
<agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        (mapClick)="mapClicked($event)">
    <agm-marker
            *ngFor="let marker of markers; let i = index"
            (markerClick)="clickedMarker(marker.label, i)"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [label]="marker.label"
            [markerDraggable]="marker.draggable"
            (dragEnd)="markerDragEnd(marker, $event)">
    </agm-marker>
</agm-map>



